@media only screen and (max-width: 500px) {
  .radio-button input:checked ~ label:before {
     -webkit-transform: translate(-50%, -50%) scale3d(50, 50, 1); 
             transform: translate(-50%, -50%) scale3d(50, 50, 1); 
    opacity: 1;
  }

  .test{
    background-color: yellow;
  }
}

@media only screen and (min-width: 501px) and (max-width: 750px){
  .radio-button input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(80, 80, 1);
            transform: translate(-50%, -50%) scale3d(80, 80, 1);
    opacity: 1;
  }

  .test{
    background-color: red;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1000px){
  .radio-button input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(100, 100, 1);
            transform: translate(-50%, -50%) scale3d(100, 100, 1);
    opacity: 1;
  }

  .test{
    background-color: blue;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px){
  .radio-button input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(150, 150, 1);
            transform: translate(-50%, -50%) scale3d(150, 150, 1);
    opacity: 1;
  }

  .test{
    background-color: green;
  }
}

@media only screen and (min-width: 1501px){
  .radio-button input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(200, 200, 1);
            transform: translate(-50%, -50%) scale3d(200, 200, 1);
    opacity: 1;
  }

  .test{
    background-color: black;
  }
}